@use '../../../shared/styles/globals' as globals;

.form{
	display: flex;
	align-items: stretch;
    align-content: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	min-width: 330px;
	@media (max-width:550px) {
		.form{
			width: 400px;
		}
	}

	&_title{
		margin-top: 22px;
		font-size: globals.get-font-size(h3);
		font-weight: 700;
		text-align: center;
	}
	&_submit{
		padding-block: 7px;
		background: var(--mui-palette-primary-main);
		width: 100%;
		color: var(--mui-palette-background-paper);
		border-radius: 8px;
		margin-top: 10px;
		transition: 0.3s ease;
		&:disabled {
			background-color: var(--mui-palette-action-disabled);
			color:var(--mui-palette-primary-main);
			cursor: not-allowed; 
		}  
	}
	&_passwordRemember{
		font-size: globals.get-font-size(body-small);
		display: flex;
		gap: 5px;
		input{
			width: 15px;
			height: 15px;
		}
	}
	&_link{
		border: solid 1px;
		padding-block: 6px;
		border-color: var(--mui-palette-primary-main);
		background: var(--mui-palette-background-paper);
		width: 100%;
		text-align: center;
		color: var(--mui-palette-primary-main);
		border-radius: 8px;
		margin-top: 10px;
		transition: 0.3s ease;
		&:hover{
			background-color: var(--mui-palette-primary-light);
			color: var(--mui-palette-secondary-main);
			border: solid 1px;
			border-color: var(--mui-palette-primary-main);
		}
	}
	&_errorMessage{
		color: var(--mui-palette-error-main);
		font-size: 0.9rem;
		padding-left: 21px;
	}
}