@use '../../../shared/styles/globals' as globals;

.form{
	z-index: 2;
	display: flex;
	align-items: stretch;
    align-content: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	width: 400px;

	.input, .input:focus{
		border-width: 1px;
		border-radius: 20px;
		width: -webkit-fill-available;
		padding-inline: 10px;
		padding-block: 6px;
		border-color: globals.get-color("info");
	}
	&_title{
		margin-top: 22px;
		font-size: globals.get-font-size(h3);
		font-weight: 700;
		text-align: center;
	}
	&_account{

	}
	&_password{

	}
	&_submit{
		padding-block: 6px;
		background: globals.get-color("primary");
		width: 100%;
		color: globals.get-color("background");
		border-radius: 20px;
	}
	&_passwordRemember{
		font-size: globals.get-font-size(body-small);
		display: flex;
		align-items: center;
		input{
			width: 15px;
			height: 15px;
		}
	}
	&_regitration{
		a{
			text-decoration: none;
			color: globals.get-color("primary");
			font-weight: 500;
		}
	}
	&_errorMessage{
		color: globals.get-color("secondary");
		font-size: globals.get-font-size(body-small);
		margin-top: 4px;
	}
}