.form_field {
	display: flex;
	flex-direction: column;
	gap: 4px;
	&__errorMessage {
		color: var(--mui-palette-error-main);
		padding-left: 14px;
		font-size: 0.9rem;
	}
	.error {
		border-color: var(--mui-palette-error-main);
	}
}

