@use '../../../styles/globals' as globals;

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.5s ease forwards;
	
	.background{
		z-index: 999;
		border-radius: 15px;
		position: absolute;
		opacity: 0.3;
		width: 100%;
		height: 100%;
		background-color: grey;
	}
	.loader {
		opacity: 1;     
		transform: translate(-50%, -50%);
		z-index: 2000;
		border: 8px solid #f3f3f3;
		border-radius: 50%;
		border-top: 8px solid globals.get-color("primary");;
		width: 60px;
		height: 60px;
		-webkit-animation: spin 1s linear infinite;
		animation: spin 1s linear infinite;
	}

	@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
