.button{
	padding-inline: 48px;
	padding-block: 20px;
	background-color: var(--mui-palette-primary-main);
	color: var(--mui-palette-secondary-main);
	width: max-content;
	border-radius: 8px;
	margin-top: 10px;
	transition: 0.2s ease;
	&:hover{
		box-shadow: var(--mui-shadows-4);
	}
}

@media (max-width: 900px){
	.button{
		padding-inline: 40px;
		padding-block: 16px;
	}
}